body {
	max-height: 98vh;
}


#title {
    margin: 30px;
    position: absolute;
    left: 500px;
    font-size: 2.5em;
    font-family: "Arial";
    color:  rgb(17,30,108);
}
.menuTitle {
    color: White;
    font-family: "Arial";
    margin: auto;
    font-size: 3.5em;
    margin-top: 60px;
}
.gutter {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 80px;
}

.dirMenu {
	min-height: 100vh;
	background-color: rgb(17,30,108);
	text-align: center;
}

.menuItem {
	text-align: center;
	padding-left: 25%;
	margin-top: 2%;
	margin-bottom: 2%;
}
.menuRow {
    text-align: center;
    align-content: center;
}

.menuHR {
    background-color: white;

}

i {
    font-size: 225px;
    color: White;
    margin: 100px auto;
}

i p {
    font-size: .35em;
    margin-top: 35px;
}


.logo {
    height: 300px;
    margin: 35px auto;

}

.VOP {
	font-family: Georgia;
    color: white;
    font-size: 3.0em;
    position: relative;
    left: 75px;
    bottom: 130px;
}

.CP {
	font-family: Georgia;
    color: white;
    font-size: 2.5em;
    position: relative;
    bottom: 200px;
    left: 140px;
}
.letter {
    margin-top: 25px;
    color: rgb(17,30,108);
}
.tenant{
    font-family: Arial, Helvetica;
    font-size: 1.25em;
    margin-bottom: 10px;
}
.subname{
    font-family: Arial, Helvetica;
    font-size: 1.0em;
    text-indent: 25px;
}
.suite{
    float: right;
}
.time {
    position: absolute;
    left: 100px;
    bottom: 30px;
}