body {
	max-height: 98vh;
}

.dirMenu {
	min-height: 100vh;
	background-color: rgb(17,30,108);
	text-align: center;
}

.menuItem {
	text-align: center;
	display: block;
	padding-left: 25%;
	margin-top: 2%;
	margin-bottom: 2%;
}
.logo {
    max-height: 160px;
    right: 95px;
    position: relative;
    top: 35px;
    padding-right: 0px;
}

.VOP {
	font-family: Georgia;
    color: white;
    font-size: 3.0em;
    position: relative;
    left: 75px;
    bottom: 140px;
}

.CP {
	font-family: Georgia;
    color: white;
    font-size: 2.5em;
    position: relative;
    bottom: 200px;
    left: 140px;
}
.tenant{
    font-family: Arial, Helvetica;
    font-size: 1.50em;
    margin-bottom: 10px;

}
.subname{
    font-family: Arial, Helvetica;
    font-size: 1.0em;
    text-indent: 25px;
}
.suite{
    float: right;
}