body {
	max-height: 98vh;
}



#title {
    margin: 30px;
    position: absolute;
    left: 500px;
    font-size: 2.5em;
    font-family: "Arial";
    color:  rgb(17,30,108);
}
/*Main Body*/
.gutter {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 80px;
}

.letter {
    margin-top: 25px;
    color: rgb(17,30,108);
}

.tenant{
    font-family: Arial, Helvetica;
    font-size: 1.25em;
    margin-bottom: 10px;
}

.subname{
    font-family: Arial, Helvetica;
    font-size: 1.0em;
    text-indent: 25px;
}

.suite{
    float: right;
}

/*Menu Area*/
.logo {
    height: 300px;
    margin: 35px auto;

}
.dirMenu {
    min-height: 100vh;
    background-color: rgb(17,30,108);
    text-align: center;
}

.menuRow {
    text-align: center;
    align-content: center;
    border-bottom: solid rgb(37, 64, 143) 3px;
}
.menuRow:last-child{
    border-bottom: none;
    padding-top: 35px;
}

.menuTitle {
    color: White;
    font-family: "Arial";
    margin: auto;
    font-size: 3.5em;
    margin-top: 60px;
}

.menuItem {
	text-align: center;
	padding-left: 25%;
	margin-top: 2%;
	margin-bottom: 2%;
}
/*dynamic*/
i {
    font-size: 100px;
    color: White;
    /*margin: 50px 10%;*/
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}

i p {
    font-size: .35em;
    margin-top: 20px;
}
.time {
    position: absolute;
    left: 175px;
    bottom: 465px;
}

/*static*/
/*i {
    font-size: 225px;
    color: White;
    margin: 100px auto;
}

i p {
    font-size: .35em;
    margin-top: 35px;
}
.time {
    position: absolute;
    left: 100px;
    bottom: 30px;
}
*/

.menuButton {
    background-color: rgb(37, 64, 143);
    width: 75%;
    height: 50px;
    margin: 15px auto;
    display: block;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 30px;
    box-shadow: 5px 5px rgba(5,5,5,.5);
}
.active{
    background-color: rgb(214, 113, 42);
}

.buttonText {
    color: white;
    margin: auto;
}




